<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="#" class="navbar-brand">Corona Dashbaord <small class="text-primary h6">[GVP]</small></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/dashboard" >State</a>
        <a class="nav-item nav-link" routerLink="/gujarat" >Gujarat</a>
        </div>
        <!-- <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>  -->
    </div>
</nav>
<router-outlet></router-outlet>